<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
   <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="static/script.js"></script>
</head>

<body>
    <div class="container">
  <div class="row">
    <div class="col-sm-3">
      Your Zoombinis
      <div class="container" id='yours'>

      </div>
    </div>
    <div class="col-sm-1">
      <div class="container" id='buttons'>

      </div>
    </div>
    <div class="col-sm-2">
      Failed Top
      <div class="container" id='failedTop'>

      </div>
    </div>
    <div class="col-sm-2">
      Failed Bottom
      <div class="container" id='failedBottom'>

      </div>
    </div>
    <div class="col-sm-2">
      Passed Top
      <div class="container" id='passedTop'>

      </div>
    </div>
    <div class="col-sm-2">
      Passed Bottom
      <div class="container" id='passedBottom'>

      </div>
    </div>
  </div>
</div>
</body>

</html>